XTerm.termName: xterm-256color

XTerm.background: #000000
XTerm.foreground: #ffffff
XTerm.VT100.background: #000000
XTerm.VT100.foreground: #ffffff

XTerm*faceName: Monospace
XTerm*faceSize: 11
XTerm*faceSize1: 11
XTerm*faceSize2: 12
XTerm*faceSize3: 13
XTerm*faceSize4: 14
XTerm*faceSize5: 15
XTerm*faceSize6: 16
XTerm*faceSize7: 18

XTerm*boldMode: false
XTerm*allowBoldFonts: false

XTerm*scrollBar: false

XTerm*cursorBlink: true
XTerm*cursorOffTime: 600
XTerm*cursorOnTime: 600

XTerm.VT100.translations: #override \n\
  Ctrl <Key>comma: scroll-back(1,halfpage) \n\
  Ctrl <Key>period: scroll-forw(1,halfpage) \n\
  Shift Ctrl <Key>minus: smaller-vt-font() \n\
  Shift Ctrl <Key>equal: larger-vt-font() \n\
  Shift Ctrl <Key>v: insert-selection(CLIPBOARD) \n\
  Shift Ctrl <Key>c: copy-selection(CLIPBOARD) \n\

XTerm*loginShell: true
