XTerm*termName: xterm-256color

XTerm*background: #000000
XTerm*foreground: #ffffff

XTerm*faceName: Mono
XTerm*faceSize: 11
XTerm*faceSize1: 11
XTerm*faceSize2: 12
XTerm*faceSize3: 13
XTerm*faceSize4: 14
XTerm*faceSize5: 15
XTerm*faceSize6: 16
XTerm*faceSize7: 17

XTerm*allowBoldFonts: false

XTerm*scrollBar: false

XTerm*cursorBlink: true
XTerm*cursorOnTime: 600
XTerm*cursorOffTime: 600

XTerm*VT100*translations: #override \n\
  Ctrl Shift <Key>c: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>v: insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>k: scroll-back(1,halfpage) \n\
  Ctrl Shift <Key>j: scroll-forw(1,halfpage) \n\
  Ctrl Shift <Key>-: smaller-vt-font() \n\
  Ctrl Shift <Key>=: larger-vt-font()

XTerm*loginShell: true
